.mbtiColorContainer {
  width: 416px;
  margin: 40px auto;
}

.mbtiColorSection {
  margin: 40px 0;
}

.mbtiColorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mbtiColorHeaderHeading {
  margin: 0;
  font-weight: 800;
  font-size: 40px;
}

.mbtiColorCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7fb;
  padding: 18px;
  border-radius: 50%;
}

.mbtiColorCancel:hover {
  background-color: #edf0f5;
}

.mbtiColorSectionHeading {
  font-weight: 500;
  font-size: 24px;
  margin: 24px 0;
}

.mbtiColorRandom {
  background-color: #f4f7fb;
  border-radius: 8px;
  margin-left: 8px;
  border: none;
  padding: 8px;
}

.mbtiColorRandom:hover {
  background-color: #edf0f5;
  cursor: pointer;
}

.mbtiColorSubmit {
  cursor: pointer;
  width: 100%;
  background-color: #464e5e;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 22px;
}
