.moviePediaReviewForm {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
.moviePediaReviewForm .formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.moviePediaReviewForm .formContainer textarea {
  flex-grow: 1;
}
